In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/training.csv', parse_dates=['PurchDate'])

In [4]:
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,2009-12-07,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,2009-12-07,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,2009-12-07,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,2009-12-07,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,2009-12-07,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [5]:
df.replace('Manual', 'MANUAL', inplace=True)

In [6]:
df.isna().sum()

RefId                                    0
IsBadBuy                                 0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  2360
SubModel                                 8
Color                                    8
Transmission                             9
WheelTypeID                           3169
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRAcquisitionAuctionCleanPrice         18
MMRAcquisitionRetailAveragePrice        18
MMRAcquisitonRetailCleanPrice           18
MMRCurrentAuctionAveragePrice          315
MMRCurrentAuctionCleanPrice            315
MMRCurrentRetailAveragePrice           315
MMRCurrentRetailCleanPrice             315
PRIMEUNIT                            69564
AUCGUART                             69564
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

### Dropping columns of no use

In [7]:
colstodrop = ['RefId', 'PurchDate', 'VehYear', 'WheelTypeID', 'BYRNO', 'VNZIP1', 'PRIMEUNIT', 'AUCGUART', 'Model', 'SubModel', 'VNST', 'Color']

In [8]:
df.drop(columns=colstodrop, inplace=True)

In [9]:
df.isna().sum()

IsBadBuy                                0
Auction                                 0
VehicleAge                              0
Make                                    0
Trim                                 2360
Transmission                            9
WheelType                            3174
VehOdo                                  0
Nationality                             5
Size                                    5
TopThreeAmericanName                    5
MMRAcquisitionAuctionAveragePrice      18
MMRAcquisitionAuctionCleanPrice        18
MMRAcquisitionRetailAveragePrice       18
MMRAcquisitonRetailCleanPrice          18
MMRCurrentAuctionAveragePrice         315
MMRCurrentAuctionCleanPrice           315
MMRCurrentRetailAveragePrice          315
MMRCurrentRetailCleanPrice            315
VehBCost                                0
IsOnlineSale                            0
WarrantyCost                            0
dtype: int64

In [10]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
IsBadBuy,72983.0,0.122988,0.328425,0.0,0.0,0.0,0.0,1.0
VehicleAge,72983.0,4.176644,1.712210,0.0,3.0,4.0,5.0,9.0
VehOdo,72983.0,71499.995917,14578.913128,4825.0,61837.0,73361.0,82436.0,115717.0
MMRAcquisitionAuctionAveragePrice,72965.0,6128.909217,2461.992768,0.0,4273.0,6097.0,7765.0,35722.0
MMRAcquisitionAuctionCleanPrice,72965.0,7373.636031,2722.491986,0.0,5406.0,7303.0,9021.0,36859.0
MMRAcquisitionRetailAveragePrice,72965.0,8497.034332,3156.285284,0.0,6280.0,8444.0,10651.0,39080.0
MMRAcquisitonRetailCleanPrice,72965.0,9850.928240,3385.789541,0.0,7493.0,9789.0,12088.0,41482.0
MMRCurrentAuctionAveragePrice,72668.0,6132.081287,2434.567723,0.0,4275.0,6062.0,7736.0,35722.0
MMRCurrentAuctionCleanPrice,72668.0,7390.681827,2686.248852,0.0,5414.0,7313.0,9013.0,36859.0
MMRCurrentRetailAveragePrice,72668.0,8775.723331,3090.702941,0.0,6536.0,8729.0,10911.0,39080.0
MMRCurrentRetailCleanPrice,72668.0,10145.385314,3310.254351,0.0,7784.0,10103.0,12309.0,41062.0
VehBCost,72983.0,6730.934326,1767.846435,1.0,5435.0,6700.0,7900.0,45469.0
IsOnlineSale,72983.0,0.025280,0.156975,0.0,0.0,0.0,0.0,1.0
WarrantyCost,72983.0,1276.580985,598.846788,462.0,837.0,1155.0,1623.0,7498.0

### Aggregating different Trim Types

In [11]:
df['Trim'].nunique()

134

In [13]:
df['Trim'] = df['Trim'].apply(lambda x: str(x).upper()[0])

In [14]:
df['Trim'].nunique()

27

In [11]:
pd.DataFrame({col: [df[col].nunique(), df[col].isna().sum()] for col in df.columns if df[col].dtype==object}, index='nUnique Nans'.split()).transpose()

                      nUnique  Nans
Auction                     3     0
Make                       33     0
Trim                       27     0
Transmission                2     9
WheelType                   3  3174
Nationality                 4     5
Size                       12     5
TopThreeAmericanName        4     5

In [12]:
df['IsBadBuy'].value_counts()

0    64007
1     8976
Name: IsBadBuy, dtype: int64

### FillNa with mode

In [16]:
df['WheelType'].fillna('Others', inplace=True)

In [16]:
', '.join([col for col in df.columns if df[col].isna().sum() and df[col].dtype==object])

'Transmission, WheelType, Nationality, Size, TopThreeAmericanName'

In [20]:
for colx in [col for col in df.columns if df[col].isna().sum() and df[col].dtype==object]:
    df[colx].fillna(df[colx].mode()[0], inplace=True)

### Dropping the remaining NaNs

In [22]:
df.dropna(inplace=True)

## Sampling the data to remove imbalance

In [78]:
data = pd.concat([df[df['IsBadBuy'] == 0].sample(30000),
                  df[df['IsBadBuy'] == 1].sample(28000, replace=True)])

In [79]:
X = pd.get_dummies(data.drop(columns='IsBadBuy'), drop_first=True)

y = data['IsBadBuy']

In [80]:
X.shape

(58000, 92)

In [81]:
X.dropna(inplace=True)

## Exporting X and Y for classification

In [111]:
X.to_csv('data/X.csv', index=None)
y.to_csv('data/y.csv', index=None)